hi-align-objects-bottom {
	background: url("humbleicons.svg") 0 0 no-repeat;
	width: 24px;
	height: 24px;
}

hi-align-objects-center {
	background: url("humbleicons.svg") 20% 0 no-repeat;
	width: 24px;
	height: 24px;
}

hi-align-objects-left {
	background: url("humbleicons.svg") 0 20% no-repeat;
	width: 24px;
	height: 24px;
}

hi-align-objects-middle {
	background: url("humbleicons.svg") 20% 20% no-repeat;
	width: 24px;
	height: 24px;
}

hi-align-objects-right {
	background: url("humbleicons.svg") 40% 0 no-repeat;
	width: 24px;
	height: 24px;
}

hi-align-objects-top {
	background: url("humbleicons.svg") 40% 20% no-repeat;
	width: 24px;
	height: 24px;
}

hi-arrow-down {
	background: url("humbleicons.svg") 0 40% no-repeat;
	width: 24px;
	height: 24px;
}

hi-arrow-left {
	background: url("humbleicons.svg") 20% 40% no-repeat;
	width: 24px;
	height: 24px;
}

hi-arrow-right {
	background: url("humbleicons.svg") 40% 40% no-repeat;
	width: 24px;
	height: 24px;
}

hi-arrow-up {
	background: url("humbleicons.svg") 60% 0 no-repeat;
	width: 24px;
	height: 24px;
}

hi-arrows {
	background: url("humbleicons.svg") 60% 20% no-repeat;
	width: 24px;
	height: 24px;
}

hi-bars {
	background: url("humbleicons.svg") 60% 40% no-repeat;
	width: 24px;
	height: 24px;
}

hi-brush-big {
	background: url("humbleicons.svg") 0 60% no-repeat;
	width: 24px;
	height: 24px;
}

hi-check {
	background: url("humbleicons.svg") 20% 60% no-repeat;
	width: 24px;
	height: 24px;
}

hi-chevron-down {
	background: url("humbleicons.svg") 40% 60% no-repeat;
	width: 24px;
	height: 24px;
}

hi-chevron-left {
	background: url("humbleicons.svg") 60% 60% no-repeat;
	width: 24px;
	height: 24px;
}

hi-chevron-right {
	background: url("humbleicons.svg") 80% 0 no-repeat;
	width: 24px;
	height: 24px;
}

hi-chevron-up {
	background: url("humbleicons.svg") 80% 20% no-repeat;
	width: 24px;
	height: 24px;
}

hi-cog {
	background: url("humbleicons.svg") 80% 40% no-repeat;
	width: 24px;
	height: 24px;
}

hi-desktop {
	background: url("humbleicons.svg") 80% 60% no-repeat;
	width: 24px;
	height: 24px;
}

hi-document {
	background: url("humbleicons.svg") 0 80% no-repeat;
	width: 24px;
	height: 24px;
}

hi-document-add {
	background: url("humbleicons.svg") 20% 80% no-repeat;
	width: 24px;
	height: 24px;
}

hi-dots-horizontal {
	background: url("humbleicons.svg") 40% 80% no-repeat;
	width: 24px;
	height: 24px;
}

hi-exchange-vertical {
	background: url("humbleicons.svg") 60% 80% no-repeat;
	width: 24px;
	height: 24px;
}

hi-exclamation-triangle {
	background: url("humbleicons.svg") 80% 80% no-repeat;
	width: 24px;
	height: 24px;
}

hi-heading {
	background: url("humbleicons.svg") 100% 0 no-repeat;
	width: 24px;
	height: 24px;
}

hi-image {
	background: url("humbleicons.svg") 100% 20% no-repeat;
	width: 24px;
	height: 24px;
}

hi-mobile {
	background: url("humbleicons.svg") 100% 40% no-repeat;
	width: 24px;
	height: 24px;
}

hi-plus {
	background: url("humbleicons.svg") 100% 60% no-repeat;
	width: 24px;
	height: 24px;
}

hi-plus-circle {
	background: url("humbleicons.svg") 100% 80% no-repeat;
	width: 24px;
	height: 24px;
}

hi-search {
	background: url("humbleicons.svg") 0 100% no-repeat;
	width: 24px;
	height: 24px;
}

hi-text {
	background: url("humbleicons.svg") 20% 100% no-repeat;
	width: 24px;
	height: 24px;
}

hi-times {
	background: url("humbleicons.svg") 40% 100% no-repeat;
	width: 24px;
	height: 24px;
}

hi-trash {
	background: url("humbleicons.svg") 60% 100% no-repeat;
	width: 24px;
	height: 24px;
}

hi-upload {
	background: url("humbleicons.svg") 80% 100% no-repeat;
	width: 24px;
	height: 24px;
}

